

#title {
  font-family: "Zilla Slab";
  /* @apply font-[Zilla_Slab] */
  font-weight: 700;
  line-height: 6rem;
  font-size: 4.7rem;
}

.oddProjectTile {
  background-color: #D687DA66;
  width: 27.5rem;
  height: 33rem;
}

.evenProjectTile {
  background-color: #707FD966;
  width: 27.5rem;
  height: 33rem;
}

.oddProjectImage {
  @apply w-[91%] m-auto mb-[2rem] border-[0.15rem] border-[#BF86D8]
}

.evenProjectImage {
  @apply w-[91%] m-auto mb-[2rem] border-[0.15rem] border-[#707FD9]
}

.projectTitle { 
  font-size: 1.5rem;
  margin-top: 1rem;
}

.committeeName {
  font-size: 1.1rem;
  margin-bottom: 0.7rem
}