@import "tailwindcss";

h1 {
  font-family: var(--font-zilla-slab);
  font-size: 55.2px;
  line-height: 115.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5C1C75;
}

h2 {
  font-family: var(--font-inter);
  font-size: 26px;
  line-height: 58.09px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5C1C75;
  margin: 0;
}

p {
  font-family: var(--font-nunito-sans);
  font-size: 19px;
  width: 80%;
  line-height: 49.1px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000C7;
  margin: 0;
}

li {
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  width: 80%;
  font-weight: 500;
  line-height: 49.1px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000C7;
  margin: 0;

}

a {
  font-size: 19px;
  width: 80%;
  font-weight: 500;
  line-height: 49.1px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000C7;
  margin: 0;
  text-decoration: none;
}

hr {
  border-color: #d0abdfaf;
  width: 100%;
}


/*Layout.tsx styles to handle Navbar + Page content interaction*/
:root {
  /* --primary-color: #3498db;
  --secondary-color: #ecf0f1; */
  /* --padding: 20px; Example padding */
}

html, body {
  height: 100%; /* Ensure html and body take full height */
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make sure the layout takes the full viewport height */
}

.root-header {
  /* This effectively sets a fixed height for the navbar */
  /* If Header has an intrinsic height, flex: 0 0 auto will respect it */
  flex: 0 0 auto; 
  /* background-color: var(--primary-color); */
  padding: 10px 20px; /* Example padding for header */
  color: white; /* Example text color */
}

.root-page-content {
  flex: 1; /* This makes the content area grow and take all available space */
  overflow-y: auto; /* Adds scroll if content overflows vertically */
  padding: var(--padding);
  background-color: var(--secondary-color);
}

/* font variables */
.nunito-sans-variable { font-family: var(--font-nunito-sans); }
.inter-variable { font-family: var(--font-inter); }
.zilla-slab-variable { font-family: var(--font-zilla-slab); }