.container {
  width: 25rem;
  font-family: var(--font-nunito-sans);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo {
  aspect-ratio: 17/9;
  background-size: cover;
}

.blogDetails {
  margin: 2.3rem 1.25rem 2rem 1.25rem;
}

.blogTitle {
  font-weight: bold;
  font-size: 1.25rem;
}

.blogAuthorship {
  margin-top: 0.3rem;
  margin-bottom: 1.6rem;
}

.summary {
  font-size: 1.25rem;
  margin: 0 1.25rem 2rem 1.25rem;
}

.tag {
  margin: 0 1.25rem 2rem 1.25rem;
}