.container {
  width: 25rem;
  font-family: var(--font-nunito-sans);
}

.photo {
  aspect-ratio: 17/9;
  background-size: cover;
}

.blogContainer {
  margin: 2.3rem 1.25rem 2rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.blogDetails {
  height: 10.75rem;
}

.blogTitle {
  font-weight: bold;
  font-size: 1.25rem;
}

.blogAuthorship {
  margin-top: 0.3rem;
  margin-bottom: 1.6rem;
}


.summaryContainer {
  display: flex;
  flex-direction: column;
  height: 10.25rem;
  justify-content: space-between;
}

.summary {
  font-size: 1.25rem;
}


@media (width > 410px) {
  .blogContainer {
    gap: 10px
  }
  .summaryContainer {
    height: 9rem
  }
}