.missionSection {
  display: flex;
  width: fit-content;
  gap: 3.75rem;
  font-size: 1.62rem;
  margin: 12.5rem auto 0 auto;
  align-items: center;
}

.missionText {
  text-align: center;
}

.missionParagraph {
  margin: 0 auto 0 auto;
  margin-top: 2rem;
  max-width: 42.5rem;
}

.groupPhoto {
  width: 26.25rem;
  background-image: url(/images/home/group_photo.jpg);
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.missionGradientContainer {
  display: flex;
  width: 100%;
  margin-top: -33rem;
  justify-content: center;
}

.missionGradient {
  width: 43rem;
  height: 40rem;
  margin-right: 50rem;
}

@media (width < 1330) {
  .missionSection {
    margin-top: 5rem;
    width: 100vw;
    flex-direction: column;
    gap: 0;
  }

  .groupPhoto {
    scale: 0.45;
  }

  .missionText {
    margin-top: -6rem;
    width: 80%;
  }

  .missionHeading h1 div {
    font-size: 1.9rem;
  }

  .missionParagraph {
    max-width: unset;
    margin-top: 0rem;
    font-size: 1rem;
  }

  .missionGradientContainer {
    margin-top: -28rem;
  }

  .missionGradient {
    width: 25rem;
    height: 25rem;
    margin: 0;
  }
}


@media (width < 680) {
  .missionSection {
    margin-top: 6.5rem;
  }

  .groupPhoto {
    visibility: collapse;
  }

  .missionText {
    width: 90%;
  }

  .missionHeading {
    margin-bottom: -0.5rem;

    h1 div {
      font-size: 0.8rem;
      line-height: 3.2rem;
    }
  }

  .missionParagraph {
    font-size: 0.5rem;
  }

  .missionGradientContainer {
    margin-top: -5rem;
  }

  .missionGradient {
    width: 11rem;
    height: 6rem;
  }
}